<launch>
    <include file="$(find jetson_csi_stereo_ros)/launch/jetson_csi_stereo.launch" />

    <group ns="stereo">
        <node pkg="gpu_stereo_image_proc" type="vx_gpu_stereo_image_proc" name="vx_gpu_stereo_image_proc">
            <param name="approximate_sync" value="true" />
        </node>
    </group>
</launch>